<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.zero4kevin.spring.examples.client.SoapClient" >
        <property name="helloService" ref="helloService"/>
    </bean>

    <bean id="helloService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="wsdlDocumentUrl" value="http://localhost:8086/helloService?wsdl" />
        <property name="serviceName" value="helloService" />
        <property name="portName" value="HelloSoapEndpointPort" />
        <property name="serviceInterface" value="com.zero4kevin.spring.examples.soap.HelloWorld" />
        <property name="namespaceUri" value="http://soap.examples.spring.zero4kevin.com"/>
    </bean>

</beans>

